@model IEnumerable<SistemaDeAtendimento.Entity.AspNetUsers>

@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center my-5">Escolha o consultor com quem deseja falar</h2>

<div class="row">
    @*@if (string.IsNullOrEmpty(Model.First().Descricao))
    {*@
        @foreach (var item in Model)
        {
            <div class="card col-3">
                <img style="max-height:190px" src="~/images/@Html.DisplayFor(modelItem => item.Foto)">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    <p class="text-muted">@Html.DisplayFor(modelItem => item.Email)</p>

                    <div class="" style="bottom:0px; position:relative">
                        @*<a href="#" class="btn btn-primary">Falar com o consultor</a>*@
                        @Html.ActionLink("Falar com o consultor", "Visitante", "Home", new { idConsultor = item.Id }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    @*}
    else
    {
        <h1 class="text-muted">Não há nenhum consultor disponível no momento</h1>
    }*@
</div>