@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Consultores</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

@Html.ActionLink("Alterar senha", "ChangePassword", new { @class = "btn btn-warning" })

@Html.ActionLink("Entrar no chat", "Index", "Chat", new { area = "" }, new { @class = "btn btn-warning" })

@Html.ActionLink("Mudar status", "ChangeStatus", new { UserId = User.Identity.GetUserId() }, new { @class = "btn btn-warning" })