
@{
    ViewBag.Title = "Index";
}

<h2>Consultores</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

@Html.ActionLink("Alterar senha", "ChangePassword", new { @class = "btn btn-warning" })